     .cards{ width:350px; height:240px; margin:10px; float:left }
     .cards > .frontSideOfTheCard {
         position: absolute ;
         -webkit-transform: perspective( 600px ) rotateY( 0deg ) ;
         background: #234465; width:350px; height:240px; border-radius: 7px;
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
         transition: -webkit-transform .5s linear 0s;
         transition: transform .5s linear 0s;
         color:#FFFFFF;
        
     }
.frontSideOfTheCard h3{
	padding:20px;
	text-align:center;
	margin-top:90px;
}
     .cards > .backSideOfTheCard {
         position: absolute ;
         -webkit-transform: perspective( 600px ) rotateY( 180deg ) ;
         background: #F38351; width:350px; height:240px; border-radius: 7px;
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
         transition: -webkit-transform .5s linear 0s;
         transition: transform .5s linear 0s;
     }
     .cards:hover > .frontSideOfTheCard {
         -webkit-transform: perspective( 600px ) rotateY( -180deg ) ;
         transform: perspective( 600px ) rotateY( -180deg ) ;
     }
     .cards:hover > .backSideOfTheCard {
         -webkit-transform: perspective( 600px ) rotateY( 0deg ) ;
         transform: perspective( 600px ) rotateY( 0deg ) ;
     }
.backSideOfTheCard img{
   	width:344px;
   	height:212px;
   }

.backSideOfTheCard h3 {
   	color:#FFFFFF;
   	margin-left:10px;</h3>
   }

.cards-content{
	-webkit-margin-start: 120px;
}
@media (max-width: 1200px) {
.cards-content{
	width:90%;
}	


